<h3>Items by Category</h3>

@*@foreach (var category in Enum.GetNames(typeof(Category))
{
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: @Calc.FigurePercentage(getCategoryCount(category))%" aria-valuenow="@getCategoryCount(category)" aria-valuemin="0" aria-valuemax="@totalItems">@category</div>
    </div>
}*@

@code {
        [Inject]
        protected ItemService iService { get; set; }

    public List<Item> Items { get; set; }

    private int totalItems = 0;

    protected override async Task OnInitializedAsync()
    {
        Items = await iService.GetItemsAsync();
        foreach (var item in Items)
        {
            totalItems += 1;
        }
    }

    private int getCategoryCount(Category category)
    {
        int output = 0;
        foreach (var item in Items)
        {
            if(item.Category == category)
            {
                output += 1;
            }
        }
        return output;
    }
}
