<div class="container">
    <table class="table">
        <thead class="table-info">
            <tr>
                <th>Projected Profits</th>
                <th>Count</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Unsold Items</td>
                <td>@unsoldItems.Count()</td>
                <td>@Format.AsCurrency(UnsoldTotal)</td>
            </tr>
        </tbody>
    </table>
</div>